.CollectedItems {
    max-width:2000px;
    margin:auto;
    overflow-x: scroll;
    border:1px solid #000;
}

.CollectedItems table {
    table-layout:fixed;
    margin:auto;
    border-collapse:collapse;
    border-spacing:0;
    width: 1000px;
    height: 100px;
}

caption {
    text-align: center;
}

.CollectedItems th {
    width: 100px;
    height: 50px;
    position: sticky;
    border:1px solid #000;
    background: #212121;
    white-space:normal; /*공백, 여백*/
    color: #ed2600;
    text-align: center;
    text-valign: center;
}

.CollectedItems td {
    width: 90px;
    font-size: 12px;
    color: #212121;
    text-align: center;
    text-valign: center;
    height: 50px;
    content: counter(aaa) " ";
}

@media screen and (max-width:2000px) {
    /*normal*/
    .table-responsive {
        overflow-x:auto;
    }
}
